<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable
		name="logsDirectory"
		value="%allusersprofile%/Hammock/Utility/AutoUpdate/Logs" />

	<targets>
		<target
		  name="logFile"
		  xsi:type="File"
		  layout="${longdate}[${threadid:padding=4}][${uppercase:${level:padding=-5}}] ${message}"
		  fileName="${logsDirectory}/${processname}.log"
		  archiveAboveSize="5242880"
		  archiveFileName="${logsDirectory}/Archives/ast_CSelfUpdate_{##}.log"
		  concurrentWrites="true"
		  keepFileOpen="false"
		  maxArchiveFiles="10"
		  encoding="UTF-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile" />
	</rules>
</nlog>

