<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="HostName" value="192.168.102.30" />
    <add key="MaxSessions" value="20" />
    <!-- タイマーログを出力する間隔（単位：分）、デフォルトは20.0分とする。短くする場合は0.001などと指定すること。 -->
    <add key="TimerLogInterval" value="20.0" />
    <!-- ログファイルを削除する間隔（単位：時間）、デフォルトは4.0時間とする。短くする場合は0.001などと指定すること。 -->
    <add key="LogCleanerInterval" value="4.0" />
    <!-- ログの保存日数（単位：日）。保存日数を短くする場合は0などを指定すること。また、削除処理はLogCleanerInterval時間間隔で実行される。 -->
    <add key="LogSaveDays" value="400.0" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="BasicAuthHttpModule" type="Hammock.AssetView.Platinum.Tools.RC.RelayService.Common.BasicAuthHttpModule, astRC_RelayService" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>